<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/law-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Law Officer Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" keyboardResizes="true">
  <div class="chat-container">
    <div class="message-bubble" *ngFor="let msg of messages" [ngClass]="msg.sender === 'law' ? 'sent' : 'received'">
      <p>{{ msg.text }}</p>
    </div>
  </div>
</ion-content>

<ion-footer class="chat-footer">
  <div class="input-wrapper">
    <ion-textarea
      [(ngModel)]="inputMessage"
      placeholder="Type a message..."
      auto-grow="true"
      rows="1"
    ></ion-textarea>
    <ion-button color="primary" shape="round" (click)="sendMessage()">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </div>
</ion-footer>
