<ion-header>
  <ion-toolbar color="primary" class="custom-toolbar">
    <ion-title>Law Enforcement</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()" class="logout-button">
        LOGOUT
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-content">
  <div class="white-container">

    <ion-list>
      <ion-card *ngFor="let item of menuItems" (click)="navigateTo(item)" class="dashboard-card">
        <ion-card-content class="dashboard-card-content">
          <ion-icon [name]="item.icon" color="primary" class="dashboard-icon"></ion-icon>
          <div class="dashboard-text">
            <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
          </div>
          <ion-icon name="chevron-forward-outline" color="medium" class="arrow-icon"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
