<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Create New Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-item>
    <ion-label position="floating">Driver ID</ion-label>
    <ion-input [(ngModel)]="trip.driverId"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Vehicle</ion-label>
    <ion-input [(ngModel)]="trip.vehicle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Origin</ion-label>
    <ion-input [(ngModel)]="trip.origin"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Destination</ion-label>
    <ion-input [(ngModel)]="trip.destination"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Date & Time</ion-label>
    <ion-datetime
      display-format="YYYY-MM-DD HH:mm"
      [(ngModel)]="trip.datetime">
    </ion-datetime>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Checkpoints</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let cp of checkpoints; let i = index">
      <ion-input [(ngModel)]="checkpoints[i]" placeholder="Checkpoint {{ i + 1 }}"></ion-input>
      <ion-button fill="clear" color="danger" (click)="removeCheckpoint(i)">Remove</ion-button>
    </ion-item>

    <ion-button expand="full" fill="outline" (click)="addCheckpoint()">Add Checkpoint</ion-button>
  </ion-list>

  <ion-button expand="block" color="success" (click)="submitTrip()">Save Trip</ion-button>

</ion-content>
