<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Security home</ion-title>
    <ion-buttons slot="end">
  <ion-button id="profile-button">
    <ion-icon name="person-circle" size= "large" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-popover #profilePopover trigger="profile-button" triggerAction="click" showBackdrop="false">
    <ng-template>
      <ion-list>
       <ion-item button routerLink="/profile" (click)="goToProfile(profilePopover)">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item button (click)="logout(profilePopover)" color="danger">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout</ion-label>
            </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="menu-container">

    <ion-card class="menu-card" *ngFor="let item of menuItems" (click)="navigateTo(item)">
      <ion-card-content class="menu-item">
        <div class="icon-title">
          <ion-icon [name]="item.icon" size="large" color="primary"></ion-icon>
          <div class="text-container">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
          </div>
        </div>
        <ion-icon name="chevron-forward-outline" size="large" color="medium"></ion-icon>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="footer">
    Predictive Minds © 2025
  </div>

</ion-content>
