<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/system-settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="changePassword()">Update Password</ion-button>
</ion-content>