ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  ion-list {
    margin-bottom: 20px;
  }

  ion-item {
    --highlight-color-focused: var(--ion-color-primary);
    --border-radius: 12px;
    margin-bottom: 16px;
    background: #f4f5f8;
    border-radius: 12px;
    padding-inline: 10px;
  }

  ion-input {
    font-size: 16px;
  }

  ion-button {
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 500;
  }
}
@media (prefers-color-scheme: dark) {
  ion-item {
    background: #2a2a2a;
  }
}