<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="resetPassword()" #form="ngForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        name="email"
        required
        [(ngModel)]="email"
        #emailInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      <p class="ion-padding-start">Email is required</p>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="form.invalid"
      class="ion-margin-top">
      Reset Password
    </ion-button>

    <ion-button
      expand="block"
      fill="clear"
      routerLink="/login">
      Back to Login
    </ion-button>
  </form>
</ion-content>
